{% extends 'base.html' %}
{% block content %}


        <div class="container list-article">
            <div class="row justify-content-center">

              <!-- Blog Post -->
              {% for article in article_list %}
              <div class="col-lg-4 mt-4">
                <div class="card">
                  <img src="/media/{{article.thumbnail}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="{% url 'blog:detail' slug=article.slug%}"><h5 class="card-title">{{article.title}}</h5></a>
                      <p class="card-text">{{article.snippet}}</p>
                    </div>
                </div>
              </div>
              {% endfor %}

            </div>
        </div>


{% endblock %}
